


.marca {
  height: 30px;
}

.barra {
  z-index: 99;
  background-color: rgba(0,0,0,0);
  top:0;
}

.carousel-item img {
  height: 700px;
  width: 100%;
}

.texto {
  margin-left: 150px;
}

.carousel-caption {
position: absolute;
top: 40vh;
}

.footer {
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 20px;
}

.bg-light {
  background-color: #15151500 !important;
}

.titulo {
  position: relative;
  top: 20px
}
